h1 #{$i18n.slide2.subSlide2.title}
h3 #{$i18n.slide2.subSlide2.description}.
p
    small.
        #{$i18n.slide2.subSlide1.left.description}
ul
    li #{$i18n.slide2.subSlide2.right.item1}
    li #{$i18n.slide2.subSlide2.right.item2}
    li #{$i18n.slide2.subSlide2.right.item2}
hr
a Test link